/*Affects the entire page*/

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/*Header only section*/
.top {             /*Changes the width of content at the borders of the page*/
    background-color: #1F2937;          /*Changes color of entire section under class="top"*/
    color: #F9FAF8;                     /*Changes font color of all text in class="top*/                     /*Changes the height of class="top"*/
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    align-items: center;                /*Keeps all items centered despite window growing horizontally*/
}
.container-header {                       /*Contains HEADER LOGO & HEADER LINK items*/
    display: flex;                        /*Gives the container to move items in it using the flexbox layout*/
    justify-content: space-between;       /*Positions items so that each one has equal space between each other in a horizontal manner*/
    height: 100px;
    align-items: center;
    font-size: 24px;
    width: 1250px;                        /*Gives header the width needed to properly use the justify-content: space-between;*/
}

.header {
    font-size: 24px;
    font-weight: 900;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container-intro {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.intro-header {
    font-size: 75px;
    font-weight: 900;
}

.subtext {
    width: 300px;
    margin-bottom: 10px;
    font-size: 24px;
}

.sign-up{
    align-self: flex-start;
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    border-style: none;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 700;
}

.img-header {
    height: 300px;
    width: 600px;
}


/*body one section*/

.body-one-header {
    text-align: center;
    padding-bottom: 32px;
    font-weight: 900;
    font-size: 36px;
}

.container-body-one {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    gap: 80px;
    margin-bottom: 100px;
}

.info {
    text-align: center;
    width: 200px;
}

.info img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

/*Body Two Section: Quote by Thor*/

/*Had an issue with "Thor, God of Thunder" (.author)
    not aligned to the left side but as well not staying
    in the middle of the page when stretcher.
    Solution: give .container-body-two align-items: center;
    give .author text-align: end;
    give .author ALSO the correct WIDTH!  Originally had
    width: 900px, which complicated things.
    Can give .flex: none to ensure everything stays the same size.*/

.container-body-two {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    background-color: #E5E7EB;
    align-items: center;
}

.quote,
.author {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    text-align: left;
    width: 1162px;
    flex: none;
}

.author {
    text-align: end;

}

/*Footer*/

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    padding: 20px 50px;
    gap: 30px;
    color: #E5E7EB;
    border-radius: 10px;
    margin: 50px;
    width: 700px;
    align-self: center;
    


}

.footer-sign {
    border: 1px solid white;
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 700;

}

.action {
    font-weight: 900;
    font-size: 24px;
    margin: 0;
}

.product {
    margin: 0;
}