/*Affects the entire page*/

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

/*Header only section*/
.top {
    padding: 0 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 500px;
}
.container-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-size: 24px;
    
}

.header {
    font-size: 24px;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container-intro {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
}

.subtext {
    width: 300px;
    margin-bottom: 10px;
}

.sign-up{
    align-self: flex-start;
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    
}
img {
    height: 300px;
    width: 600px;

}




